.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;   
} 

.signup-heading {
    padding-right: 90px;
}

form{
    padding-top: 100px;
    max-width: 400px;
}
.form-label{
    display: inline-table;
    margin-bottom: 5px;
}

#input_field{
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
}

#btn{
    background-color: rgb(96, 186, 189);
    padding: 10px 15px;
    color: aliceblue;
    cursor: pointer;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: rgb(36, 39, 38);
}
