<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <title>Namma Kadai</title>
</head>

<body>
    <!-- redirect to home page wherever in page -->
    <div class="logo"><a href="{{ url_for('home') }}">Namma Kadai</a></div>
    <!-- flash message -->
    {% with messages = get_flashed_messages(with_categories=false) %}
    {% if messages %}
    <div class="flash-messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="signup-container">
        <div class="signup-heading">
            <h1>Sign Up</h1>
            <h4>Already Sign Up? <a href="{{ url_for('authentication.login') }}">Login</a></h4>
        </div>

        <form action="{{ url_for('authentication.signup') }}" method="post">
            <div>
                <label class="form-label">Company Name</label>
                <input type="text" name="company_name" id="input_field" required>
            </div>
            <div>
                <label class="form-label">Email ID </label>
                <input type="email" name="company_email" id="input_field" required>
            </div>
            <div>
                <label class="form-label">Password</label>
                <input type="password" name="company_password" id="input_field" required>
            </div>
            <div>
                <button type="submit" id="btn">Sign Up</button>
            </div>
        </form>
    </div>
</body>

</html>